body {
  /*margin-top: 50px;*/ 
  padding-top: 60px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.carousel{
  margin-top: 10px;
}
.carousel-inner img {
    margin: auto;
}
.carousel .item img{
  margin: 0 auto; /* Align slide image horizontally center */
}

.container-fluid {
    padding: 0px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.navbar {
    margin-bottom: 0;
    background-color: #030;
    z-index: 9999;.numberlist li
    border: 0;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffff00 !important;
    background-color: #030 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-nav>li>a {
    padding-left: 4px;
}    
.navbar-brand {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0px;
}
.nav>li>a {
    margin-left: 10px;
}    

footer {
    background-color: #dff0d8 !important;
    margin-top: 20px;
}

footer p {font-size:16px;}

footer img {opacity:0.5; max-height: 55px;}

footer hr {
    margin-top: 0px;
    margin-bottom: 30px;
    border: 0;
    border-top: 3px solid #777;
}

.thumbnail {margin-bottom:10px}

p {font-size:18px; font-weight:400; line-height:1.em; margin:0 0 15px;}

.linklist {list-style:none; margin:0 0 16px 0px; padding:0; font-size:1.0em;}
.linklist li {margin-bottom:0.6em;margin-left:14px;list-style:url(../images/bullet.gif);padding-left: 3px;}
.linklist a {color: #003366; text-decoration:none; font-weight:normal;}
.linklist a:hover {color: #778899;}

blockquote {color: #030; font-style: italic; border-left: 2px dotted #CCC; padding-left: 10px; margin-left: 15px;}

#rightside {padding-left:15px;}
#rightside h3 {font-size:18px;color: #030; margin-bottom: 15px; line-height: 1.2em;}
#rightside h4 {font-size:0.9em;color: #2B3856; margin-bottom: 3px; line-height: 0.9em;}
#rightside p {font-size:16px; font-weight:400; line-height:1.4em; margin:0 0 10px 0px;}
#rightside a {color:#337ab7; text-decoration:none; font-weight:500;}
#rightside a:hover {color: #4a2a2a; text-decoration: none; border-bottom:1px dotted;}
#rightside img {border:1px solid #b0b0b0; padding:5px;}
#rightside img {float:left;}

#contentalt a {color:#337ab7; text-decoration:none;}
#contentalt a:hover {color: #4a2a2a; text-decoration: none; border-bottom:1px dotted;}
#contentalt, #photowrap h2 {font-size:24px;color:#030;}
#contentalt h3 {font-size:20px;color:#257525;}
#contentalt p {color: #333; font-size:18px; font-weight:400;}

.contentlist {list-style:none; margin:0 0 16px 0px; padding:0; font-size:16px;}
.contentlist li {margin-bottom:0.6em;margin-left:14px;list-style:url(../images/bullet.gif);padding-left: 3px;}  
.contentlist a {color:#257126; font-weight: 600; text-decoration:none;}

.numberlist ol {list-style-type: decimal;}
.numberlist li {font-size: 18px; list-style-type:square;}

/* styling for front page announcements */

.jumbotron {
  background-color: #F0F8FF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}  

.jumbotron p {
  font-size: 18px;
}

.jumbotron h2 {
  margin-top: 10px;
  color: #de1515;
}

/* styling for sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 190px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 190px;
}
